In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
recdet = pd.read_stata('../data/recdet.dta')
bran = pd.read_stata('../data/bran.dta')

In [8]:
recdet.head(10)

,ticker,cusip,cname,oftic,actdats,estimid,analyst,ereccd,etext,ireccd,itext,emaskcd,amaskcd,usfirm,acttims,revdats,revtims,anndats,anntims
0,0000,87482X10,TALMER BANCORP,TLMR,2014-03-10,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2,BUY,659.0,71182.0,1.0,08:54:03,2016-01-26,09:35:52,2014-03-10,00:20:00
1,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,JPMORGAN,ALEXOPOULOS S,,OVERWEIGHT,2,BUY,1243.0,79092.0,1.0,17:10:47,2016-01-26,10:09:34,2014-03-10,00:25:00
2,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,KEEFE,MCGRATTY C,2,OUTPERFORM,2,BUY,1308.0,119962.0,1.0,15:17:15,2015-07-30,07:25:58,2014-03-09,17:05:00
3,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,RAYMOND,LONG D,1,STRONG BUY,1,STRONG BUY,1929.0,80474.0,1.0,15:49:22,2016-01-19,08:06:44,2014-03-10,06:48:00
4,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,STERNE,GREEN P,2,NEUTRAL,3,HOLD,2209.0,50789.0,1.0,15:22:08,2014-11-07,12:20:17,2014-03-10,07:45:00
5,0000,87482X10,TALMER BANCORP,TLMR,2014-12-03,FIG,RODIS J,,OUTPERFORM,1,STRONG BUY,6956.0,72481.0,1.0,12:51:16,2015-02-18,14:40:30,2014-12-03,07:36:00
6,0000,87482X10,TALMER BANCORP,TLMR,2015-05-06,FIG,RODIS J,,MARKET PERFORM,3,HOLD,6956.0,72481.0,1.0,15:47:10,2015-12-29,14:04:42,2015-04-30,14:03:00
7,0000,87482X10,TALMER BANCORP,TLMR,2015-07-30,KEEFE,MCGRATTY C,3,MARKET PERFORM,3,HOLD,1308.0,119962.0,1.0,16:58:15,2016-01-26,10:18:25,2015-07-30,16:40:00
8,0000,87482X10,TALMER BANCORP,TLMR,2015-08-04,STEPHENS,MCEVOY T,3,3 EQUAL-WEIGHT,3,HOLD,2206.0,8675.0,1.0,14:07:13,2016-05-03,08:19:53,2015-08-04,08:00:00
9,0000,87482X10,TALMER BANCORP,TLMR,2016-01-26,RBCDOMIN,ARFSTROM J,3,SECTOR PERFORM,3,HOLD,659.0,71182.0,1.0,21:57:09,2016-04-28,10:48:13,2016-01-26,21:44:00

In [6]:
bran.head(20)

   baindi  bacode                                    baname      baid  usfirm
0       B       1                                            A.L.O.         1
1       B       1  ABACO CASA DE BOLSA                       ABACO          0
2       A       1  FITZGERALD         J                                     1
3       A       1  FITZGERALD         J                                     0
4       B       2  ALGEMENE BANK OF THE NETHERLANDS          ABN            1
5       B       2  ALGEMENE BANK OF THE NETHERLANDS          ABN            0
6       A       2  KRUEGER                                                  1
7       A       2  KRUEGER                                                  0
8       B       3  ADAMS HARKNESS, INC.                      ADAMS          1
9       B       3  ADAMS HARKNESS, INC.                      ADAMS          0
10      A       3  DUBOIS             C                                     1
11      A       3  DUBOIS             C                                     0
12      B       4  ADVEST INC.                               ADVEST         1
13      B       4  ADVEST INC.                               ADVEST         0
14      A       4  CUMMING            V                                     1
15      A       4  CUMMING            V                                     0
16      B       5  AFFARSVARLDEN                             AFV            1
17      B       5  AFFARSVARLDEN                             AFV            0
18      A       5  MCALINDEN          J                                     1
19      A       5  MCALINDEN          J                                     0

In [11]:
merged = pd.merge(recdet,
                 bran,
                 how='outer',
                 left_on=['amaskcd'],
                 right_on=['bacode'])

In [13]:
merged.head(0)

,ticker,cusip,cname,oftic,actdats,estimid,analyst,ereccd,etext,ireccd,...,acttims,revdats,revtims,anndats,anntims,baindi,bacode,baname,baid,usfirm_y
0,0000,87482X10,TALMER BANCORP,TLMR,2014-03-10,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2,...,08:54:03,2016-01-26,09:35:52,2014-03-10,00:20:00,A,71182.0,ARFSTROM J,,1.0
1,0000,87482X10,TALMER BANCORP,TLMR,2016-01-26,RBCDOMIN,ARFSTROM J,3,SECTOR PERFORM,3,...,21:57:09,2016-04-28,10:48:13,2016-01-26,21:44:00,A,71182.0,ARFSTROM J,,1.0
2,0097,39260X10,GREEN BANCORP,GNBC,2014-09-02,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2,...,08:13:22,2016-07-28,21:40:22,2014-09-02,07:50:00,A,71182.0,ARFSTROM J,,1.0
3,AINV,03761U10,APOLLO INVESTMEN,AINV,2009-08-08,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2,...,18:58:54,2017-05-18,09:22:18,2009-08-07,06:53:00,A,71182.0,ARFSTROM J,,1.0
4,ALLE,01747610,ALLEGIANT BANC,ALLE,2002-01-14,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2,...,16:22:51,2003-10-27,15:08:44,2002-01-14,16:16:21,A,71182.0,ARFSTROM J,,1.0
5,ALLE,01747610,ALLEGIANT BANC,ALLE,2003-11-21,RBCDOMIN,ARFSTROM J,3,SECTOR PERFORM,3,...,08:47:27,2003-11-21,08:47:27,2003-11-21,05:00:00,A,71182.0,ARFSTROM J,,1.0
6,ASBC,04548710,ASSOC BANC CP WI,ASBC,2009-04-07,RBCDOMIN,ARFSTROM J,3,SECTOR PERFORM,3,...,17:30:05,2009-12-02,07:01:07,2009-04-07,16:21:00,A,71182.0,ARFSTROM J,,1.0
7,ASBC,04548710,ASSOC BANC CP WI,ASBC,2010-01-04,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2,...,16:42:49,2013-07-09,09:49:47,2010-01-04,02:01:00,A,71182.0,ARFSTROM J,,1.0
8,ASBC,04548710,ASSOC BANC CP WI,ASBC,2013-07-19,RBCDOMIN,ARFSTROM J,3,SECTOR PERFORM,3,...,11:40:10,2017-05-12,01:15:31,2013-07-18,23:16:00,A,71182.0,ARFSTROM J,,1.0
9,BANA,05969210,BANCORPSOUTH INC,BXS,2013-08-23,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2,...,02:09:13,2016-10-18,13:12:12,2013-08-22,23:31:00,A,71182.0,ARFSTROM J,,1.0

In [20]:
len(merged)

1271505

In [21]:
bran[bran['bacode']==71182]

      baindi  bacode                                    baname baid  usfirm
45531      A   71182  ARFSTROM           J                                1

In [24]:
len(pd.unique(merged['analyst']))

16331

In [25]:
len(pd.unique(merged['estimid']))

1166

In [5]:
recdet.to_csv('recdet.csv')

In [9]:
res_tabs = os.listdir('../data/res_tables')

analutics_sa = []

sares = pd.read_csv('../data/res_tables/' + res_tabs[0])


for f in res_tabs:
    sares = pd.read_csv('../data/res_tables/' + f)
    analutics_sa += list(pd.unique(sares['Analyst']))
    # analutics_sa += sum(list(map(lambda x: x.split(', '), pd.unique(sares['Analysts_list']))), [])

analutics_sa = pd.unique(analutics_sa)

analutics_sa = analutics_sa[~pd.isnull(analutics_sa)].copy()

In [11]:
pd.DataFrame(analutics_sa).to_csv('analytics.csv')

In [2]:
res_tabs = os.listdir('../data/res_tables')
analutics_sa = []
for f in res_tabs:
    sares = pd.read_csv('../data/res_tables/' + f)
    analutics_sa += sum(list(map(lambda x: x.split(', '), pd.unique(sares['Analysts_list']))), [])

In [3]:
l = pd.Series(analutics_sa)

In [17]:
pd.DataFrame(pd.unique(l[(l.map(len)>=17) & (l.map(len)<=55)])).to_csv('analusts_bank.csv')