In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
recdet = pd.read_stata('../data/recdet.dta')
bran = pd.read_stata('../data/bran.dta')

In [4]:
recdet.head()

,ticker,cusip,cname,oftic,actdats,estimid,analyst,ereccd,etext,ireccd,itext,emaskcd,amaskcd,usfirm,acttims,revdats,revtims,anndats,anntims
0,0000,87482X10,TALMER BANCORP,TLMR,2014-03-10,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2,BUY,659.0,71182.0,1.0,08:54:03,2016-01-26,09:35:52,2014-03-10,00:20:00
1,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,JPMORGAN,ALEXOPOULOS S,,OVERWEIGHT,2,BUY,1243.0,79092.0,1.0,17:10:47,2016-01-26,10:09:34,2014-03-10,00:25:00
2,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,KEEFE,MCGRATTY C,2,OUTPERFORM,2,BUY,1308.0,119962.0,1.0,15:17:15,2015-07-30,07:25:58,2014-03-09,17:05:00
3,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,RAYMOND,LONG D,1,STRONG BUY,1,STRONG BUY,1929.0,80474.0,1.0,15:49:22,2016-01-19,08:06:44,2014-03-10,06:48:00
4,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,STERNE,GREEN P,2,NEUTRAL,3,HOLD,2209.0,50789.0,1.0,15:22:08,2014-11-07,12:20:17,2014-03-10,07:45:00

In [5]:
bran.head()

  baindi  bacode                                    baname      baid  usfirm
0      B       1                                            A.L.O.         1
1      B       1  ABACO CASA DE BOLSA                       ABACO          0
2      A       1  FITZGERALD         J                                     1
3      A       1  FITZGERALD         J                                     0
4      B       2  ALGEMENE BANK OF THE NETHERLANDS          ABN            1

In [5]:
recdet.to_csv('recdet.csv')

In [9]:
res_tabs = os.listdir('../data/res_tables')

analutics_sa = []

sares = pd.read_csv('../data/res_tables/' + res_tabs[0])


for f in res_tabs:
    sares = pd.read_csv('../data/res_tables/' + f)
    analutics_sa += list(pd.unique(sares['Analyst']))
    # analutics_sa += sum(list(map(lambda x: x.split(', '), pd.unique(sares['Analysts_list']))), [])

analutics_sa = pd.unique(analutics_sa)

analutics_sa = analutics_sa[~pd.isnull(analutics_sa)].copy()

In [11]:
pd.DataFrame(analutics_sa).to_csv('analytics.csv')

In [2]:
res_tabs = os.listdir('../data/res_tables')
analutics_sa = []
for f in res_tabs:
    sares = pd.read_csv('../data/res_tables/' + f)
    analutics_sa += sum(list(map(lambda x: x.split(', '), pd.unique(sares['Analysts_list']))), [])

In [3]:
l = pd.Series(analutics_sa)

In [17]:
pd.DataFrame(pd.unique(l[(l.map(len)>=17) & (l.map(len)<=55)])).to_csv('analusts_bank.csv')